@import "tailwindcss";

:root {
  --background: #111;
  --foreground: #fff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-nanum: "Nanum Pen Script", cursive;
  --animate-spotlight: spotlight 2s ease 0.75s 1 forwards;
  --animate-unspotlight: unspotlight 2s ease 0.75s 1 forwards;
  --animate-leftToRight: leftToRight 1s ease;
  --animate-shake-rotate: shake-rotate 0.6s ease-in-out infinite;
  --shadow-light: 0 0 8px rgba(255, 255, 255, 0.6),
    0 0 16px rgba(255, 255, 255, 0.4), 0 0 24px rgba(255, 255, 255, 0.2);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@keyframes spotlight {
  0% {
    opacity: 0;
    transform: translate(-72%, -62%) scale(0.5);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -40%) scale(2);
  }
}

@keyframes leftToRight {
  0% {
    opacity: 0;
    left: -24px;
  }
  40% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    left: 800px;
  }
}

@keyframes shake-rotate {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(2deg);
  }
  40% {
    transform: rotate(-2deg);
  }
  60% {
    transform: rotate(1deg);
  }
  80% {
    transform: rotate(-1deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

button,
a {
  cursor: pointer;
}

a {
  display: inline-block;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;

  width: 100dvw;
  height: 100dvh;
}
