@import "tailwindcss";

:root {
  --background: #111;
  --foreground: #fff;

  --font-body: Inter, Noto Sans KR, sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-main: var(--font-body);
  --font-nanum: "Nanum Pen Script", cursive;
  --animate-spotlight: spotlight 2s ease 0.75s 1 forwards;
  --animate-unspotlight: unspotlight 2s ease 0.75s 1 forwards;
  --animate-leftToRight: leftToRight 1s ease;
  --animate-shake-rotate: shake-rotate 0.6s ease-in-out infinite;
  --shadow-light: 0 0 8px rgba(255, 255, 255, 0.6),
    0 0 16px rgba(255, 255, 255, 0.4), 0 0 24px rgba(255, 255, 255, 0.2);
  --drop-shadow-glow: 0 0 5px #ffffff, 0 0 10px #00ffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@keyframes spotlight {
  0% {
    opacity: 0;
    transform: translate(-72%, -62%) scale(0.5);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -40%) scale(2);
  }
}

@keyframes leftToRight {
  0% {
    opacity: 0;
    left: -24px;
  }
  40% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    left: 800px;
  }
}

@keyframes shake-rotate {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(2deg);
  }
  40% {
    transform: rotate(-2deg);
  }
  60% {
    transform: rotate(1deg);
  }
  80% {
    transform: rotate(-1deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body);
}

button,
a {
  cursor: pointer;
}

a {
  display: inline-block;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;

  width: 100dvw;
  height: 100dvh;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 16px;
}

p {
  font-size: 14px;
}

.blog-post ul,
.blog-post ol {
  list-style: revert;
  padding-left: revert;
  font-size: 14px;
}

.ql-container {
  padding: 0 !important;
  border: none !important;
}

.ql-container input:focus {
  background-color: red !important;
}

.ql-toolbar {
  padding: 0 !important;
  border: none !important;
}

.ql-editor {
  min-height: 300px !important;
}

.ql-tooltip input:focus {
  background-color: white !important;
}

.ql-code-block-container option {
  color: black !important;
}

.ql-formats * {
  color: #ccc !important;
  stroke: #ccc !important;
}
.ql-formats *.ql-active {
  color: blue !important;
  stroke: blue !important;
}

.ql-code-block-container code {
  padding: 0 !important;
  background-color: transparent !important;
}

.ql-code-block-container {
  padding: 0 !important;
  background-color: rgba(255, 255, 255, 0.1) !important;
  border-radius: 1rem !important;
  padding: 1rem !important;
  transition: all 0.2s !important;
}

.blog-post img {
  transition: all 0.2s !important;
}

.blog-post img:hover {
  transform: scale(103%) !important;
}

.ql-code-block-container:hover {
  transform: scale(103%) !important;
}

.image-uploading {
  position: relative;
  display: inline-block;
}

.image-uploading img {
  max-width: 98% !important;
  filter: blur(5px);
  opacity: 0.3;
}

.image-uploading::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 30px;
  margin-top: -15px;
  margin-left: -15px;
  border-radius: 50%;
  border: 3px solid #ccc;
  border-top-color: #1e986c;
  z-index: 1;
  animation: spinner 0.6s linear infinite;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
